@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* create root color option */
:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}

body {
  /* make the color white and everything in the center */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify to top */
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  /* takes the bullet away */
  padding: 0;
  list-style-type: none;
}

/* styling the li */
.draggable-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
}

/* add the border line on each list item, except the last one */
.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

/* design the number with square box from number class */
.draggable-list .number {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

/* change the color when its overing list */
.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable {
  transition: transform 250ms ease-out;
}

.draggable:hover {
  transform: translateX(10px);
  transition: 0.3s;
}

/* set the margin around person-name */
.draggable-list .person-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .person-name {
  color: #3ae374;
}

.draggable-list li.wrong .person-name {
  color: #ff3838;
}

/* set the draggable class with drag capability using pointer, and making the display center */
.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

/* scale down effect when click the button */
.check-btn:active {
  transform: scale(0.98);
}

/* gwt rid of the border line on button */
.check-btn:focus {
  outline: none;
}
